{% load static %}
<!DOCTYPE html> 

<html>
  <head>

    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + JoeBLog main styles -->
    <link rel="stylesheet" href="{% static 'css/joeblog.css' %}">
  </head>

    <body>

      {% include 'partials/_navbar.html' %}
      
        {% block content %}
        

        {% endblock %}
     

        {% include 'partials/_footer.html' %}

<!-- This line includes jQuery -->


<script src="{% static 'vendors/jquery/jquery-3.4.1.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.bundle.js' %}"></script>

<!-- JoeBLog js -->
<script src="{% static 'js/joeblog.js' %}"></script>

    </body>







</html>


